body {
  background: #e4e4e4;
}

.container {
  max-width: 100%;
}

form {
  width: 90%;
  max-width: 600px;
  padding: 50px;
  margin: 20px auto;
  background: white;
  box-shadow: 0 5px 15px -6px rgba(0, 0, 0, 0.25);
}

.form-group {
  position: relative;
}
.form-group.active label {
  font-size: 12px;
  line-height: 20px;
  color: #999;
}
.form-group i {
  display: block;
  position: absolute;
  top: 20px;
  left: 11px;
  line-height: 25px;
  z-index: 5;
  width: 30px;
  border: 3px solid #444;
  text-align: center;
  border-radius: 50%;
}

i {
  transition: all .4s ease-out;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}
input:not([type="submit"]), select {
  position: relative;
  padding: 40px 30px 30px 60px !important;
  font-size: 24px;
  line-height: 64px;
  outline: none !important;
  background: none !important;
  border-radius: 0 !important;
  border: none;
  box-shadow: none !important;
  border-bottom: 1px solid #d9d9d9;
}
input:not([type="submit"]).invalid + i, select.invalid + i {
  color: #E60E0E !important;
  border-color: #E60E0E !important;
  transform: rotateY(360deg);
}
input:not([type="submit"]).invalid + i:after, select.invalid + i:after {
  display: block !important;
  position: absolute;
  width: 100%;
  content: "";
  height: 3px;
  background: #E60E0E;
  top: 50%;
  left: 0;
  transform: translateY(-50%) rotate(-45deg);
}
input:not([type="submit"]).valid + i, select.valid + i {
  color: #2ecc71 !important;
  border-color: #2ecc71 !important;
  transform: rotateY(0deg);
}

input[type="submit"] {
  display: block;
  border: none;
  padding: 20px 30px;
  margin: 0 auto;
  font-weight: bold;
  transition: all .3s ease-out;
  outline: none;
}
input[type="submit"]:hover {
  background: #282828;
  color: white;
}

label {
  display: block;
  position: absolute;
  top: 5px;
  left: 60px;
  line-height: 70px;
  font-size: 20px;
  z-index: 5;
  transition: all .3s ease-out;
}
label .valid-message {
  display: none;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

input[type=date] {
  text-align: right;
}

input[type="date"]:before {
  color: lightgrey;
  margin-right: 0.5em;
}

input[type=checkbox], input[type=radio] {
  left: 90px;
  top: 20px;
  margin-bottom: 50px;
}